
<div id="stylo_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading stylo_image">
        <%= image_tag @stylo.photo.url  %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @stylo.title %>
        </h1>
        <p class="description">
          <%= @stylo.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Submitted by <%= @stylo.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_stylo_path(@stylo), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart">
                  <%= @stylo.get_upvotes.size %>
                </span>
                <% if user_signed_in?  %>
                  <%= link_to "Edit", edit_stylo_path, class: "btn btn-default" %>
                  <%= link_to "Delete", stylo_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>